*{
    color: rgb(115, 192, 243);
    font-family: 'Courier New', Courier, monospace;
}
.container{
    height: 800px;
    padding-top: 5px;
    padding-left: 10px;
    background-color: rgb(67, 52, 119); /* For browsers that do not support gradients */
    background-image: linear-gradient(to right, rgb(24, 24, 24) , rgb(73, 68, 116));
}
h1{
    color: azure;
    font-family: 'Courier New', Courier, monospace;
    padding-bottom: 5px;
    margin-bottom: 5px;
}
h2{
    padding-top: 5px;
    color:rgb(157, 205, 238)
}