<div class="container">
    <h1>Portafolio David Vivanco</h1>
    <h2>Desarrollo Web FullStack</h2>
    <div class="texto">
        <ul>
            <h3>Lenguajes y tecnologías Frontend:</h3>
            <li>Javascript</li>
            <li>HTML5</li>
            <li>CSS y SCSS</li>
            <li>Angular</li>
            <li>Typescript</li>

            <h3>Lenguajes y tecnologías Backend:</h3>
            <li>Nodejs</li>
            <li>Express</li>
            <li>Mongodb</li>
            <li>ORM Sequelize</li>
            <li>Sqlite</li>
            <li>APIRest</li>   
            
            <h3>Servicios en la Nube:</h3>
            <li>GitHub</li>
            <li>AWS (EC2, S3, Route 53, Amplify)</li>
            <li>Heroku</li>
            <li>Mongo Atlas</li>
            <li>Cloudinary</li>

        </ul>
    </div>
</div>