.container{
    height: 800px;
    padding-top: 5px;
    padding-left: 10px;
    background-color: rgb(110, 110, 110); /* For browsers that do not support gradients */
    background-image: linear-gradient(to right, rgb(84, 82, 212) , rgb(133, 123, 221));
}
h1{
    color: azure;
}
h2{
    color:rgb(157, 205, 238)
}