* {
    box-sizing: border-box;
}
.menu {
    display: flex;
    flex-direction: row;
    padding: 5px;
    border: 10px;   
}

.link-izq {
    padding: 10px;
    flex: 33%;
}
.link-cen {
    padding: 10px;
    flex: 33%;
}
.link-der {
    padding: 10px;
    flex: 33%;
}
a{
    text-decoration: none;
}

.active-link {
    background-color: yellow;
}
