<div>
    <h1>Contacto</h1>
    <h2>Teléfono celular: +569 2163 0936</h2>
    <h2>whatsapp: <a href="https://wa.me/56921630936">+569 2163 0936</a></h2>
    <h2>Correo Electrónico: <a href="desarrollowebdavid@gmail.com">desarrollowebdavid@gmail.com</a></h2>

    <div class="formulario">
        <h2>Formulario de contacto</h2>
        <form [formGroup]= "formulario" (ngSubmit)="onSubmit()">
            <div >
                <label>Nombre</label>
                <input type="text" required formControlName="nombre">
            </div>
            <div >
                <label>Asunto</label>
                <input type="text" required formControlName="asunto">
            </div>
            <div >
                <label>E-mail</label>
                <input type="email" required formControlName="email">
            </div>
            <div >
                <label>Mensaje</label>
                <textarea cols='30' rows='6' required formControlName="mensaje"></textarea>
            </div>
            <button [disabled]="!formulario.valid">Enviar</button>
        </form>
    </div>
</div>